.scroll{
    margin:4px, 4px;
    padding:4px;
    width: 500px;
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align:justify;
    border: 5px;
    border-color: black;
}

.position-relative {
    position: relative;
}

.busqueda{
    font-size: x-large;
    font-family: 'Signika Negative', sans-serif;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.busqueda :focus{
    outline: none;
    border: none;
    outline-width: 0;
}